<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396865280784-o34bdlvl20ob3njhethqrc32pg060kl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396865280784-o34bdlvl20ob3njhethqrc32pg060kl1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>396865280784-o4uqeimtfh57oecjdfnuiupvd2u8qoj1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlTRqCb9JpN9n-ZZuK2BTznv11i5WPOvE</string>
	<key>GCM_SENDER_ID</key>
	<string>396865280784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayahfinder.app</string>
	<key>PROJECT_ID</key>
	<string>ayahfinder</string>
	<key>STORAGE_BUCKET</key>
	<string>ayahfinder.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396865280784:ios:7bf81d98f0bcf15aec2395</string>
</dict>
</plist>